%div#action
  Faltan pocos dias para las elecciones y hemos escuchado mucho respecto a encuestas, la mayoria de ellas privadas con muy pocos entrevistados. Es momento de saber que piensa Twitter.
%div#left
  Encuesta presidencial
%div#right
  %ul
    %li
      %div
        JVM
        %span.jvm_votes
          0
        %span.jvm_vote
          Votar
    %li
      %div
        QUADRI
        %span.quadri_votes
          0
        %span.quadri_vote
          Votar
    %li
      %div
        AMLO
        %span.amlo_votes
          0
        %span.amlo_vote
          Votar
    %li
      %div
        EPN
        %span.epn_votes
          0
        %span.epn_vote
          Votar
%div
  Comparte esta link para que tengas aun mas datos

