!!!
%html
  %head
    %title Encuesta Presidencial - Twitter 2012
    %link{rel:'stylesheet',type:'text/css',href:'/css/style.css'}
  %body
    %div#header
      LOGO
    %div#content
      %div#main
        != body
